.{
	font-family: "微软雅黑";
}
html,body{
	height: 100%;
	width: 100%;
	position: relative;
}
.console-AD{
	position: absolute;
	top:25%;
	left: 10%;
}
#console{
	border-radius: 10px;
	height: 60%;
	width: 25%;	
	overflow: hidden;
	position: absolute;
	top: 23%;
	left: 60%;
	background-color: #000000;
	position: relative;
}
#title{
	font-size: 1.5em;
}
#title>span{
	position: absolute;
	top:3%;
	left: 23%;
}
#aboutForm{
	height: 90%;
	width: 100%;
	position:absolute;
	top: 13%;
	background-color: #fff;
}
.input_tx{
	padding-left: 3%;
	box-sizing: border-box;
	height: 10%;
	width: 70%;
	border-radius: 5px;
	position: absolute;
	top:10%;
	left: 13%;
}
.input_tx1{
	padding-left: 3%;
	box-sizing: border-box;
	height: 10%;
	width: 70%;
	border-radius: 5px;
	position: absolute;
	top:27%;
	left: 13%;
}
#usr1{
	position: absolute;
	top: 44%;
	left: 13%;
	
}
.usr{
	width: 400%;
	font-size: 0.9em;
	position: absolute;
	top: 0%;
	left: 100%;
}
#usr2{
	position: absolute;
	top: 44%;
	left: 30%;
	
}
#usr3{
	position: absolute;
	top: 44%;
	left: 47%;
	
}
#usr4{
	position: absolute;
	top: 44%;
	left: 70%;
	
}
.console-login{
	height: 10%;
	width: 70%;
	border-radius: 5px;
	position: absolute;
	top:54%;
	left: 13%;
	font-size: 1.3em;	
	color: #fff;
	background-color: #000;
}
.console-login:hover{
	cursor: pointer;
}
#rem{
	position: absolute;
	top: 70%;
	left: 13%;
}
#forget{
	position: absolute;
	top:70%;
	left: 64%;
}
#forget a{
	color: #0099CC;
}
#x{
	position: absolute;
	top: 88%;
	left: 27%;
}
#x a{
	color: #0099CC;
}


