body {
    margin: 0;
    padding: 0;
    background: #99CCFF;
}

#menu {
    width: 100%;
    float: left;
    background: #000000;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 70px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    /*opacity: 0.7;*/
}

#banner {
    float: left;
    height: 70px;
    font-size: 2.5em;
    font-weight: 900;
    font-family: "微软雅黑";
    width: 14%;
    color: #fff;
    padding: 0.2em 0.5em;
    /*background: #41CAC0;*/
}

#menu-content {
    display: table;
    float: left;
    /*background: #000;*/
    width: 55%;
    /*background: #666633;*/
    margin-top: 0.5em;
}

#menu-content a {
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0.2em;
    font-family: "微软雅黑";
    /*background: #ef9;*/
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#menu-console {
    display: table;
    float: left;
    /*background: #000;*/
    width: 27%;
    /*background: #666633;*/
    margin-top: 0.5em;
}

#menu-console a {
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0.2em;
    font-family: "微软雅黑";
    /*background: #ef9;*/
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#test {
    width: 100%;
    height: 700px;
    background: #99CCFF;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewy(-6deg) transform:skewy(-6deg);
}
#test-page {
  width: 100%;
  height: 700px;
  background: #99CCFF;
}

.intro {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}
.intro-page {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
}
#test-summary {
    font-size: 100px;
    margin: 0px;
    position: relative;
    margin-top: 15%;
    /*脱离文档流*/
    font-family: "微软雅黑";
    font-weight: bold;
    text-align: center;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}
#test-summary-page {
  font-size: 100px;
  margin: 0px;
  position: relative;
  margin-top: 15%;
  /*脱离文档流*/
  font-family: "微软雅黑";
  font-weight: bold;
  text-align: center;
}

#test-describe {
    font-size: 35px;
    position: relative;
    /*脱离文档流*/
    font-family: "微软雅黑";
    font-weight: bold;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}

#test-describe-page {
  font-size: 35px;
  position: relative;
  /*脱离文档流*/
  font-family: "微软雅黑";
  font-weight: bold;
  text-align: center;
  margin: 0px;
  color: #FFFFFF;
}

#test2 {
    font-family: "微软雅黑";
    width: 100%;
    height: 700px;
    background: #8470FF;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewy(-6deg) transform:skewy(-6deg);
}

.a-r {
    /*	background: #FFFFCC;*/
    margin-top: 8%;
    width: 50%;
    float: right;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}

.a-l {
    /*	background: #FFFFCC;*/
    margin-top: 8%;
    width: 50%;
    float: left;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}

#pic1 {
    float: right;
}

#pic2 {
    margin-top: 5%;
    float: left;
}

#pic2 {
    margin-top: 3%;
    float: left;
}

.pic-l {
    /*background: #666633;*/
    margin-top: 6%;
    width: 50%;
    float: left;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}

.pic-r {
    /*background: #666633;*/
    margin-top: 6%;
    width: 50%;
    float: right;
    -webkit-transform: skewY(6deg);
    -moz-transform: skewy(6deg) transform:skewy(6deg);
}

#title {
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
}

#tips {
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

#test-content-area {
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    color: #666633;
    width: 100%;
    height: 300px;
    /*background: #99CC33;*/
}

#text-content {
    line-height: 2em;
    text-align: left;
    width: 65%;
    font-size: 20px;
    font-family: "微软雅黑";
    margin: 15px auto;
    /*background-color: #99CC33;*/
}

#test-content-area a {
    width: 100px;
    padding: 5px 50px;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid black;
}
#test-content-area a:hover {
  color: #fff;
  border: 2px solid #fff;
}
#test3 {
    width: 100%;
    height: 700px;
    background: #fa4242;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewy(-6deg) transform:skewy(-6deg);
}

#test4 {
    width: 100%;
    height: 700px;
    background: #fff533;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewy(-6deg) transform:skewy(-6deg);
}

#test5 {
    width: 100%;
    height: 800px;
    background: #9c3;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewy(-6deg) transform:skewy(-6deg);
}
.download-l{
  width: 200px;
  height: 200px;
  background:#fff;
}
