#page {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
}

#page div {
    float: left;
    font-size: 17px;
}

.page-content {
    width: 60%;
    color: #494947;

}

.page-links {
    width: 40%;
    font-size: 15px;
    color: #494947;

}
.page-links li{
    list-style:none;
    padding-left: 6px;
}
.page-links a{
    text-decoration: none;
}
.page-links a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: #494947;
}

.page-links li:hover{
  border-left: 2px solid #fff;
}
