#page {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}

#page div {
    float: left;
}

.page-content {
    width: 60%;
    color: #494947;

}

.page-links {
    width: 40%;
    font-size: 15px;
    line-height:1.5em;
    color: #494947;

}
.page-links li{
    list-style:none
}
