#page{
	width: 60%;
	height: 500px;
	background: #fff;
	margin: -130px auto;
box-shadow: 0px 0px 20px #FFC0CB;
border-radius: 15px;
}
#page-title{
	width: 50%;
	font-size: 45px;
	font-family: "微软雅黑";
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}
#page-content{
	width: 60%;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 2em;
}

